{% paginate blog.articles by 5 %}

{% for article in blog.articles %}
  <article class="blog-entry">
    <header class="blog-entry-heady">
      <h1 class="blog-entry-title">
        <a href="{{ article.url }}">{{ article.title }}</a>
      </h1>
      <p class="blog-entry-date">
      <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
      </p>
    </header>
    {{ article.content }}
    <a class="blog-entry-read-more" href="{{ article.url }}">Read more &raquo;</a>
  </article>
{% endfor %} 
{% if paginate.pages > 1 %}
<div class="pagination blog-entry-pagi">
  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
</div>
{% endif %}
{% endpaginate %}